h1{color: whitesmoke;}
body{background-color: darkslategray;}
h1{font-family: cursive;}
h1{text-decoration: underline}
p{text-decoration: underline}
p{color: whitesmoke;}
h1{position: relative; left:900px; top:50px;}
p{position: relative; left:900px; top:50px;}
a{position: relative; left:900px; top:50px;}